:root{
 --console-body: #c8020b; 
 --console-bg: #cad4d6;
 --text-color: #e9c64b;
 --main-bg: #ffffff;



}
html{
  box-sizing: border-box;
  font-size: 100%; 
}

*,
*::after,
*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'ArcadeClassic';
  src: url(./fonts/ArcadeClassic.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body{
  background-color: var(--main-bg);
  font-family: 'ArcadeClassic';
}

.wrapper{
  width: 100%;
  height: 100vh;
  display: grid;
}
.console{
  background-color: var(--console-body);
  width: 80%;
  height: 95vh;
  margin: auto;
  border-radius: 10px;
  box-shadow:inset rgba(231, 85, 85, 0.45) -5px -5px 9px, inset rgba(243, 85, 11, 0.286) 5px 5px 7px;
  position: relative;
}
.console h1{
  margin: 15px auto;
  width: 250px;
  color: var(--text-color);
  word-spacing: 6px;
}
.screen{
  width: 450px;
 height: 450px;
  background-color: var(--console-bg);
  margin: auto;
  border-radius: px;
  box-shadow: rgba(255, 255, 255, 0.45) -5px -5px 9px,  rgba(94, 104, 121, 0.286) 5px 5px 7px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 10px);
  /* gap: 1px; */
  
}
.screen > * {
  
}
.grid-size{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 210px;
}
.small{
  width: 10px;
  height: 10px;
  background-color: black;
}
.medium{
  width: 20px;
  height: 20px;
  background-color: black;
}
.large{
  width: 30px;
  height: 30px;
  background-color: black;
}
.xlarge{
  width: 40px;
  height: 40px;
  background-color: black;
}
.xxlarge{
  width: 50px;
  height: 50px;
  background-color: black;
}
.controls{
  width: 120px;
  background-color: #f3f1ed;
  border-radius: 5px;
  position:absolute;
  box-shadow: rgba(255, 255, 255, 0.45) 5px 5px 9px,rgba(94, 104, 121, 0.286) 5px 5px 7px;
  bottom: 120px;
  left: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.controls>*{
  display: block;
  margin: 5px;
}
.create-grid{
  width: 120px;
  /* height: 150px; */
  background-color: #f3f1ed;
  border-radius: 5px;
  position:absolute;
  box-shadow: rgba(255, 255, 255, 0.45) 5px 5px 9px,rgba(94, 104, 121, 0.286) 5px 5px 7px;
  bottom: 120px;
  right: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 0rem;
}
.create-grid>*{
  margin-bottom: 0.2rem;
}
.create-grid>input{
  margin: 0.3rem 0rem;
}
.grid-div{
  width: 10px;
  height: 10px;
  background-color: black;
  border: 0.02rem solid white;
}

/* button styling  */
.controls button, .create-grid button{
  position: relative;
  height: 40px;
  width: 90%;
  margin: 0 auto 10px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid transparent;
  outline: none;
  cursor: pointer;
  background: #9b8989;
  overflow: hidden;
  transition: 0.6s;
}
.controls button:first-child{
  color: #206592;
  border-color: #206592;
}
.controls button:last-child{
  color: #130f0d;
  border-color: #ce5c0c;
}
.controls button:before, .controls button:after{
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  height: 100%;
  filter: blur(30px);
  opacity: 0.4;
  transition: 0.6s;
}
.controls button:before{
  width: 60px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.controls button:after{
  width: 30px;
  background: rgba(255,255,255,0.6);
  transform: translateX(-130px) skewX(-45deg);
}
.controls button:hover:before,
.controls button:hover:after{
  opacity: 0.6;
  transform: translateX(320px) skewX(-45deg);
}
.controls button:hover{
  color: #f2f2f2;
  background-color: #1a1d1f;
}
.controls button:hover:last-child{
  background: #ce5c0c;
}