@font-face {
    font-family: 'ArcadeClassic';
    src: url('ArcadeClassic.woff2') format('woff2'),
        url('ArcadeClassic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

